*.diff
*.eps
*.gz
*.la
*.lo
*.log
*.new
*.orig
*.out
*.patch
*.png
*.ps
*.rej
*.zip
*~
.deps
.gdbinit
.libs
.makepp_log
ABOUT-NLS
Makefile
Makefile.am.norpm
Makefile.in
Makefile.pm
PM
a.out
aclocal.m4
autom4te-2.53.cache
autom4te.cache/
autopack.cache
autoscan.log
autotrace
autotrace-config
autotrace-config.in
autotrace.bmp
autotrace.pc
autotrace.spec
autotrace.xcf
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.scan
cscope.files
fig
foo-*
foo.*
image
inline.h
install-sh
libtool
ltmain.sh
m4
macos.x
macros
missing
mkinstalldirs
newerror
output-test.sh
po/*.gmo
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/autotrace.pot
po/boldquot.sed
po/cat-id-tbl.c
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/messages
po/quot.sed
po/remove-potcdate.sin
po/stamp-cat-id
port
release
rpm.log
semantic.cache
src/*.c.smatch
src/*.o
src/.dirstamp
stamp-*
