# SPDX-FileCopyrightText: © 2023 Peter Lemenkov
# SPDX-FileCopyrightText: © 2025 dependabot[bot]
#
# SPDX-License-Identifier: CC0-1.0

# GitHub Action to automate the identification of common misspellings in text files.
# https://github.com/codespell-project/actions-codespell
# https://github.com/codespell-project/codespell
name: codespell
on: [push, pull_request]
permissions: {}
jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          # When using this Action in other repos, the --skip option below can be removed
          skip: "./.git, ./COPYING, ./COPYING.LIB"
