name: Format Check with clang-format

on: [pull_request]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install clang-format
        run: sudo apt-get install -y clang-format-20
      - name: Check formatting
        run: |
          clang-format-20 --dry-run --Werror src/*.[ch]
